@-webkit-keyframes shake-left {
  0% {
    transform: translate(0px, 0px) scaleX(-1);
  }
  50% {
    transform: translate(0px, 100px) scaleX(-1);
  }
  100% {
    transform: translate(0px, 0px) scaleX(-1);
  }
}
@keyframes shake-left {
  0% {
    transform: translate(0px, 0px) scaleX(-1);
  }
  50% {
    transform: translate(0px, 100px) scaleX(-1);
  }
  100% {
    transform: translate(0px, 0px) scaleX(-1);
  }
}
@-webkit-keyframes shake-right {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes shake-right {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
body {
  background-color: #272944;
  color: #e0e0e0;
  font-size: 1.8em;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-self: center;
}
#container #top {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 100px;
}
#container #top h4 {
  text-align: center;
  width: 140px;
}
#container #points {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 50px;
}
#container #points h4 {
  margin-top: 0px;
  text-align: center;
  width: 140px;
}
#container button {
  background-color: #2d7560;
  color: #e0e0e0;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s linear;
}
#container button:hover {
  cursor: pointer;
  filter: brightness(95%);
}
#container button:active {
  filter: brightness(100%);
  transform: scale(0.98);
}
#container #info {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  width: 1200px;
  height: 350px;
}
#container #info h2 {
  text-align: center;
}
#container #info #start {
  align-self: center;
}
#container #main {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  display: none;
}
#container #main h2 {
  width: 1200px;
  text-align: center;
}
#container #main #left {
  transform: scaleX(-1);
}
#container #bottom {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin-top: 4em;
  display: none;
}
#container #bottom :first-child {
  margin-left: 76px;
}
#container #bottom :last-child {
  margin-right: 76px;
}