$background-color: rgb(39, 41, 68);
$primary-color: rgb(224, 224, 224);

$primary-font-size: 30px;
$font-name: sans-serif;

$top-width: 1200px;
$top-height: 100px;

$points-height: 50px;
$points-and-label-width: 140px;