$background-color: rgb(39, 41, 68);
$primary-color: rgb(224, 224, 224);

$primary-font-size: 1.8em;
$font-name: sans-serif;

$basic-width: 80%;

$points-and-label-width: 140px;

$button-color: rgb(45, 117, 96);
$button-width: 150px;
$button-height: 50px;

$margin-of-buttons: 76px;