$background-color: rgb(39, 41, 68);
$primary-color: rgb(224, 224, 224);

$primary-font-size: 1.8em;
$font-name: sans-serif;

$basic-width: 1200px;

$top-height: 100px;

$points-height: 50px;
$points-and-label-width: 140px;

$info-height: 350px;

$button-color: rgb(45, 117, 96);
$button-width: 150px;
$button-height: 50px;

$margin-of-buttons: 76px;