@use 'variables' as *;

@mixin flex-basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-alt {
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}



body {
    background-color: $background-color;
}

#container {
    @include flex-basic;
    color: $primary-color;
    font-size: $primary-font-size;
    font-family: $font-name;

    #top {
        @include flex-basic;
        @include flex-alt;
        width: $top-width;
        height: $top-height;

        h4 {
            text-align: center;
            width: $points-and-label-width;
        }
    }

    #points {
        @include flex-basic;
        @include flex-alt;
        width: $top-width;
        height: $points-height;
        
        h4 {            
            margin-top: 0px;
            text-align: center;
            width: $points-and-label-width;
        }
    }
}