@use 'variables' as *;

@mixin flex-basic {
    display: flex;
    flex-direction: column;
    align-self: center;
}

@mixin flex-alt {
    flex-direction: row;
    justify-content: space-between;
}



body {
    background-color: $background-color;
    color: $primary-color;
    font-size: $primary-font-size;
    font-family: $font-name;
}

#container {
    @include flex-basic;

    #top {
        @include flex-basic;
        @include flex-alt;
        width: $basic-width;
        height: $top-height;

        h4 {
            text-align: center;
            width: $points-and-label-width;
        }
    }

    #points {
        @include flex-basic;
        @include flex-alt;
        width: $basic-width;
        height: $points-height;
        
        h4 {            
            margin-top: 0px;
            text-align: center;
            width: $points-and-label-width;
        }
    }

    button {
        background-color: $button-color;
        color: $primary-color;
        font-weight: bold;

        width: $button-width;
        height: $button-height;

        border: none;
        border-radius: 10px;

        transition: all 0.3s linear;

        &:hover {
            cursor: pointer;
            filter: brightness(95%);
        }
    
        &:active {
            filter: brightness(100%);
            transform: scale(0.98);
        }
    }

    #info {
        @include flex-basic;
        justify-content: space-between;
        width: $basic-width;
        height: $info-height;

        h2 {
            text-align: center;
        }

        display: none;
    }

    #main {
        @include flex-basic;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: $basic-width;
        margin-top: 2em;

        h2 {
            width: $basic-width;
            text-align: center;
        }

        #left {
            transform: scaleX(-1);
        }
    }

    #bottom {
        @include flex-basic;
        @include flex-alt;

        width: $basic-width;
        margin-top: 4em;

        :first-child {
            margin-left: $margin-of-buttons;
        }

        :last-child {
            margin-right: $margin-of-buttons;
        }
    }
}